@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* custom chat codes */

.color-0 {
    color: #000000;
    /* Black (black) */
}

.color-1 {
    color: #FF55FF;
    /* Light Purple (light_purple) */
}

.color-2 {
    color: #00AA00;
    /* Dark Green (dark_green) */
}

.color-3 {
    color: #00AAAA;
    /* Dark Aqua (dark_aqua) */
}

.color-4 {
    color: #AA0000;
    /* Dark Red (dark_red) */
}

.color-5 {
    color: #FF5555;
    /* Red (red) */
}

.color-6 {
    color: #FFAA00;
    /* Gold (gold) */
}

.color-7 {
    color: #AAAAAA;
    /* Gray (gray) */
}

.color-8 {
    color: #5555FF;
    /* Blue (blue) */
}

.color-9 {
    color: #55FFFF;
    /* Aqua (aqua) */
}

/* custom chat style */

html {
    margin: 0;
    padding: 0;
    font-size: 30px;
    overflow: hidden;
}

.no-grow {
    margin: 0;
    padding: 0;
    flex-grow: 0;
}

em {
    margin: 0;
    padding: 0;
    font-style: normal;
}

textarea:focus, input:focus {
    outline: none;
}

.help {
    color: #AAAAAA;
    /* suggestions: help text */
}

.disabled {
    color: #AAAAAA;
    /* suggestions: side-help text */
}

.suggestion {
    margin-bottom: 0.3%;
}

.hidden {
    display: none;
}

.chat-window {
    top: 1.5%;
    left: 0.8%;
    width: 25%;
    height: 22%;
    max-width: 600px;
    margin-bottom: 50px;
    position: absolute;
    word-wrap: break-word;
    background-color: transparent !important;
}

.chat-messages {
    height: 100%;
    font-size: 25px;
    margin-top: 15px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Nunito', sans-serif;
}

.chat-input {
    top: 23.8%;
    left: 0.8%;
    width: 25%;
    font-size: 1.65vh;
    max-width: 1000px;
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

.prefix {
    display: none;
    font-size: 1.8vh;
    position: absolute;
    margin-top: 0.5%;
    left: 1%;
}

textarea {
    font-family: 'Nunito', sans-serif;
    font-size: 0.8em;
    box-sizing: border-box;
    padding-top: .5vw;
    padding-bottom: 1.5vw;
    /* padding: 1%; */
    padding-left: 1vw;
    width: 100%;
    border-width: 0;
    /* height: 3.15%; */
    overflow: hidden;
    text-overflow: ellipsis;
    resize: none;
    opacity:100;
    border-radius:.2rem;
    background-color:rgba(255,255,255,0.87);
    color:#000;
    box-shadow: 0 0 5px #000;
    animation:selectedMenu 0.5s 
}

.msg {
    font-weight: 500;
    animation: SendChatMessage 1s;
    margin-bottom: 0.28%;
}

.multiline {
    margin-left: 4%;
    text-indent: -1.2rem;
    white-space: pre-line;
}

.suggestions {
    font-family: 'Nunito', sans-serif;
    background-color:rgba(12,12,12,0.774);
    border-radius:.2rem;
    list-style-type: none;
    padding: 1.5%;
    padding-left: 1rem;
    font-size: 0.8rem;
    box-sizing: border-box;
    color: white;
    width: 100%;
    box-shadow: 0 0 5px #fff;
    animation: AppareanceSuggestions 1s;
}