@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

/* custom chat codes */

.color-0 {
    color: #000000;
    /* Black (black) */
}

.color-1 {
    color: #FF55FF;
    /* Light Purple (light_purple) */
}

.color-2 {
    color: #00AA00;
    /* Dark Green (dark_green) */
}

.color-3 {
    color: #00AAAA;
    /* Dark Aqua (dark_aqua) */
}

.color-4 {
    color: #AA0000;
    /* Dark Red (dark_red) */
}

.color-5 {
    color: #FF5555;
    /* Red (red) */
}

.color-6 {
    color: #FFAA00;
    /* Gold (gold) */
}

.color-7 {
    color: #AAAAAA;
    /* Gray (gray) */
}

.color-8 {
    color: #5555FF;
    /* Blue (blue) */
}

.color-9 {
    color: #55FFFF;
    /* Aqua (aqua) */
}

/* custom chat style */

html {
    margin: 0;
    padding: 0;
    font-size: 30px;
    overflow: hidden;
}

.no-grow {
    margin: 0;
    padding: 0;
    flex-grow: 0;
}

em {
    margin: 0;
    padding: 0;
    font-style: normal;
}

textarea:focus, input:focus {
    outline: none;
}

.help {
    color: #AAAAAA;
    /* suggestions: help text */
}

.disabled {
    color: #AAAAAA;
    /* suggestions: side-help text */
}

.suggestion {
    margin-bottom: 0.3%;
}

.hidden {
    display: none;
}

.chat-window {
    top: 1.5%;
    left: 0.8%;
    width: 25%;
    height: 22%;
    max-width: 600px;
    position: absolute;
    margin-bottom: 50px;
    word-wrap: break-word;
    background-color: transparent !important;
}

.chat-messages {
    height: 100%;
    font-size: 25px;
    margin-top: 15px;
    position: relative;
    overflow-x: hidden;
    overflow-y: hidden;
    font-family: 'Nunito', sans-serif;
}

.chat-input {
    top: 25%;
    left: 0.5%;
    width: 25%;
    font-size: 25px;
    max-width: 1000px;
    position: absolute;
    font-family: 'Nunito', sans-serif;
}

.prefix {
    left: 1%;
    display: none;
    font-size: 1.8vh;
    margin-top: 0.5%;
    position: absolute;
}

textarea {
    width: 100%;
    color: black;
    font-size: 0.8em;
    padding-top: .5vw;
    padding-left: 1vw;
    padding-bottom: 1.5vw;
    background-color: white;
    font-family: 'Nunito', sans-serif;
}

.msg {
    margin-bottom: 0.25%;
}

.multiline {
    margin-left: 6.5%;
    text-indent: -1.2rem;
    white-space: pre-line;
}

.suggestions {
    width: 100%;
    padding: 1.5%;
    color: white;
    font-size: 0.8rem;
    padding-left: 1rem;
    list-style-type: none;
    background-color: black;
    font-family: 'Nunito', sans-serif;
}